---
layout: page
---
{{ content }}




{% assign sorted = (site.events | sort: 'date-year,date-month,date-day' | reverse) %}
{% for document in sorted %}

	{% if document.category contains 'races' %}

		{% capture fulldate %}{{document.date-year}}-{{ document.date-month}}-{{ document.date-day}}{% endcapture %}

		<div class="event-listing">

			<h4>
				<a href="{{ document.url }}">
					{{ document.title }}
				<i>{{ fulldate|date:"%A, %-d %B %Y" }}</i>
				</a>
			</h4>

		</div>

	{% endif %}

{% endfor %}